{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Inicio</title>
{% endblock %}
{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}
{% block contenido %}
<div class="card">
    <img class="card-img" src="{% static 'img/fondo.jpg' %}" alt="libreria" style="width: 75%; align-self: center;">
</div>
<div style="margin-top: 50 px; margin-bottom: 50px;">
    <h1 style="text-align: center; font-family:Arial, Helvetica, sans-serif;">Soda Stereo</h1>
    <p style="margin-left: 50px; margin-right: 50px; font-family:Arial, Helvetica, sans-serif;">Soda Stereo es una banda
        de rock argentina formada en 1982 por
        Gustavo Cerati (voz y guitarra), Zeta Bosio (bajo)
        y Charly Alberti (batería), considerada ampliamente por la crítica especializada como la banda más importante,
        popular e influyente del rock en español y una leyenda de la música latinoamericana.2​3​1​ Fueron el primer
        grupo de habla hispana en conseguir un éxito masivo en Latinoamérica y tuvieron un papel muy importante en el
        desarrollo y la difusión del rock latinoamericano y el rock en español durante las décadas de 1980 y 1990.
        Durante su carrera, fueron vanguardistas y marcaron tendencia en Latinoamérica, en la que protagonizaron
        diversos géneros como la música divertida de sus inicios, la new wave, el dark wave, el hard rock, el rock
        alternativo y el rock electrónico de sus finales.</p>
</div>
<section>
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card-img-top" style="display: block; width: 50%; margin: auto;">
                        <img src="{% static 'img/ruido-blanco.jpg' %}" class="card-img-top w-75">
                    </div>
                </div>
                <div class="carousel-item s">
                    <div class="card-img-top" style="display: block; width: 50%; margin: auto;">
                        <img src="{% static 'img/sep7imo-dia.jpg' %}" class="card-img-top w-75">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card-img-top" style="display: block; width: 50%; margin: auto;">
                        <img src="{% static 'img/soda-stereo.jpg' %}" class="card-img-top w-75">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </div>
</section>
{% endblock %}